doctype html5
html(lang='en', class='no-js')
	head
		meta(charset='UTF-8')
		meta(name='viewport',content='width=device-width, initial-scale=1.0')
		title= pageTitle
		link(rel='stylesheet', href='/css/jquery-ui/jquery-ui.min.css', type='text/css')
		link(rel='stylesheet', href='/css/foundation/normalize.css', type='text/css')
		link(rel='stylesheet', href='/css/foundation/foundation.css', type='text/css')
		link(rel='stylesheet', href='/css/app.css', type='text/css')
		link(rel='stylesheet', href='/css/general_foundicons.css', type='text/css')

		script(src='/js/modernizr/modernizr.js', type='text/javascript')
		script(src='/js/jquery/jquery.js', type='text/javascript')
		script(src='/js/jquery-ui/jquery-ui.min.js', type='text/javascript')
		//script(src='/js/jquery.behavior/jquery.livequery.js', type='text/javascript')
		//script(src='/js/jquery.behavior/jquery.behavior.js', type='text/javascript')
		script(src='/js/jquery.ui.touch-punch.min.js', type='text/javacript')
		script(src='/js/foundation/foundation.min.js', type='text/javascript')

		block head

	body
		nav.top-bar(data-topbar)
			ul.title-area
				li.name
					h1
						a(href='/') Lunch Vote
				li.toggle-topbar.menu-icon
						a(href='#')

		.pageMain.root
			block body

